.button {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: purple;
    }
  }

  $primary-color: goldenrod;
  $secondary-color: rgb(92, 3, 92);
  $text-color: black;
  $background-color: rgb(237, 237, 237);